<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test profile suite" verbose="1">
    <test name="Profile">
        <classes>
            <class name="TestProfile" />
            <class name="L15.Homework_15" />
            <class name = "L16.ProfileTests" />
        </classes>
    </test>
</suite>